* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    align-items: center;
    background-color: rgba(61, 85, 85, 0.532);
    mask-repeat: no-repeat;
    transition: all 0.3s ease 0.0s;
    height: 20px;
}


header img {
    width: 50px;
    height: 50px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: black;
    margin: 10px;
}

.nav-link li a:hover {
    border-radius: 20px;
    padding: 11px 30px;
    transition: all 0.4s ease 0.0s;
    background-color: aliceblue;
    color: black;
    font-size: 20px;
}

select {
    padding: 5px;
    margin: 10px;
}